* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
$color-main: rgb(93, 85, 211);
@mixin fit {
  width: fit-content;
  width: -moz-fit-content;
}
@mixin flexset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  border: 5px solid $color-main !important;
  @include fit;
  margin: auto;
  margin-top: 5%;
  padding: 30px;
  text-align: center;
  background-color: white;

  button {
    @include fit;
    padding: 15px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    background-color: $color-main;
    border-radius: 100px;
    color: white;
    cursor: pointer;
  }

  #selections {
    padding: 15px 0;
    @include flexset();
  }
}

li,
i {
  @include flexset();
}

.container #selections {
  .row select {
    color: darkgray;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 2px solid gray;
    background: none;
  }

  .change {
    color: rgb(93, 85, 211);
    font-size: 20px;
    cursor: pointer;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  span {
    &:hover {
      transform: scale(0.9);
    }

    &:only-child {
      font-size: 50px;
    }
  }

  flex-direction: row;
}

.results .text-input {
  flex: 1 0 100%;
  > * {
    margin-top: 20px;
    border: 1px solid darkgray;
  }
  textarea {
    resize: none;
    height: 100px;
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
  }
}
.container {
  border: 3px $color-main;
  border-radius: 5%;
}
.results button {
  transition: all 0.4s;
  &:hover,
  &:active {
    transform: 1.1;
    position: relative;
    bottom: 5px;
  }
}
