* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.container {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-top: 5%;

  padding: 30px;
  text-align: center;
  background-color: white;

  button {
    width: fit-content;
    width: -moz-fit-content;
    padding: 15px;
    border: none;
    margin-top: 10px;
    font-size: 17px;
    background-color: rgb(93, 85, 211);
    border-radius: 100px;
    color: white;
    cursor: pointer;
  }

  #selections {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

li,
i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container #selections {
  .row select {
    color: darkgray;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 2px solid gray;
    background: none;
  }

  .change {
    color: rgb(93, 85, 211);
    font-size: 20px;
    cursor: pointer;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  span {
    &:hover {
      transform: scale(0.9);
    }

    &:only-child {
      font-size: 50px;
    }
  }

  flex-direction: row;
}

.results .text-input {
  flex: 1 0 100%;

  > * {
    margin-top: 20px;
    border: 1px solid darkgray;

    &:focus {
      box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
  }

  textarea {
    resize: none;
    height: 100px;
    width: 100%;

    border: none;
    font-size: 20px;
    padding: 10px 15px;
  }
}

.container {
  border: 3px solid rgb(93, 85, 211);
  border-radius: 5%;
}

.results button {
  transition: all 0.4s;

  &:hover,
  &:active {
    transform: 1.1;
    position: relative;
    bottom: 5px;
  }
}
